appdirs==1.4.0
dj-database-url==0.4.2
Django==1.10.5
django-grappelli==2.9.1
django-solo==1.1.2
django-tinymce==2.6.0
gunicorn==19.6.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.1.10
six==1.10.0
