appdirs==1.4.3
certifi==2017.11.5
chardet==3.0.4
Django==1.10.5
django-appconf==1.0.2
django-ckeditor==5.4.0
django-grappelli==2.9.1
django-js-asset==0.1.1
django-solo==1.1.2
django-tinymce==2.7.0
django-user-agents==0.3.2
gunicorn==19.6.0
idna==2.6
jsmin==2.2.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
PyYAML==3.12
requests==2.18.4
six==1.10.0
sorl-thumbnail==12.3
ua-parser==0.7.3
urllib3==1.22
user-agents==1.1.0
