<style>
#page-bottom-mobile {
  background-color: #8dd6f7;
}
  #page-bottom-mobile .logo {
    text-align: center;
  }

  #page-bottom-mobile img{
    max-width: 100%;
  }

  #page-bottom-mobile p.info {
    text-align: center;
    font-size:10px;
    text-transform: uppercase;
  }
  #page-bottom-mobile .logo img{
    max-width: 100%;

  }
            div#page-bottom-mobile .triangle-up {
                border-left: 1600px solid transparent;
                border-top: 94px solid #fff;
                z-index: 2;
            }

            div#page-bottom-mobile .triangle-down {
                border-left: 1600px solid #fff;
                border-top: 94px solid transparent;
                z-index: 2;
            }
</style>
<br/>
<br/>
<br/>
<div class="" id="page-bottom-mobile">

            <div class="triangle-up">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 logo">
                        <img class="" src="{{page.image.url}}">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                          <img src="static/mobile/bottom/590.png" />
                    </div>
                    <div class="col-6">
                          <br />
                          <a href="#">
                              <img src="static/mobile/bottom/order-pink.png" />
                          </a>
                          <br/>
                          <br/>
                          <p class="info">
                                Доставка оплачивается отдельно
                          </p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="triangle-down">
            </div>
</div>


<div id="find-shop-mobile">


</div>
<!--
        <div id="page-bottom">
                        <div class="delivery-triangle-up"></div>
            <div class="triangle-up">
            </div>
            <div class="content">
                <div class="delivery-left">
                    <img
                        style="padding-bottom:40px;"
                        class="delivery-logo" src="{{ page.logo.url }}" />
                    <a
                        href="javascript:void(0);"
                        onclick="$('.float-city-selector').show();"
                        class="city-selector"><span class="select-city"><span class="selector"></span></span></a>
                    <br/>
                    <br/>
                    <ul id="shops-list">
                    </ul>
                </div>
                <div class="center">
                  <div style="width:100%; height:746px;" id="map"></div>
    <script type="text/javascript">
    function toSemi(s) {
        return Number(s);
        //return Number(s.replace('.',','));

    }
    function toDot(s) {

        return Number((''+s).replace(',','.'));
    }
    var map;
    window.map = map;
    window.map_marker = null;
    var map_inited = false;
    function initMap() {
        if (!map_inited) {

            var x = 0;
            var y = 0;
            try {
                if (localStorage.getItem('ChosenName')!=null) {
                    x = toDot(cities[localStorage.getItem('ChosenName')].x);
                    y = toDot(cities[localStorage.getItem('ChosenName')].y);
                } else {
                }
            } catch(e) {

            }
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: x, lng: y},
                zoom: 8,
                zoomConrol: true
            });
            map_inited = true;
        }

    }


    $('document').ready(function() {
        ymaps.ready(function() {
              var c = window.lc.getItem('ChosenName');
              if (!c) {
                c = ymaps.geolocation.city;
                if (typeof c == 'undefined') {
                    c = ymaps.geolocation.region;
                }
              }

              if (typeof c == 'undefined') {
                c = Object.keys(window.cities)[0];
              }



              if (typeof window.cities[c]=='undefined' && (typeof ymaps.geolocation.region!='undefined' || typeof ymaps.geolocation.city!='undefined')) {
                   window.cities[c] = {
                       x:toSemi(ymaps.geolocation.latitude),
                       y:toSemi(ymaps.geolocation.longitude),
                       delivery:false,
                       name:c,
                       shops:[]
                  }
              }

              initMap();
              choose_city(c);
        });
    });
    </script>

        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi3fsw5CM1n-2hPQr0oSTlxoVER0kb_1g&callback=initMap">
        </script>
                </div>
                <div class="delivery-right">
                    <img class="delivery free" src="{{page.free_delivery_button.url}}">
                    <img class="delivery non-free" src="{{page.no_delivery_button.url}}">
                        <br/>
                       <button class="button form-button" style="cursor:pointer;" onclick="showForm();  {{settings.yandex_counter_id}}.reachGoal('order'); "></button>
                        <br/>
                        <img src="{{page.image.url}}">
                </div>
            </div>
        </div>
      -->
