        <div id="page-bottom">
                        <div class="banner-triangle-up"></div>
            <div class="triangle-up">
            </div>
            <div class="content">
                <div class="banner-left">
                    <img 
                        style="padding-bottom:40px;"
                        class="banner-logo" src="{{ page.logo.url }}" />
                    <!-- /* here will be js that get cities */ -->
                    <a 
                        onclick="$('.float-city-selector').show();"
                        class="city-selector"><span class="select-city"><span class="selector"></span></span></a>
                    <br/>
                    <br/>
                    <ul id="shops-list">
                    </ul>
                </div>
                <div class="center">
                    <!-- <img class="map" src="static/bottom/map.png" /> -->
                  <div style="width:100%; height:746px;" id="map"></div>
    <script type="text/javascript">
    function toDot(s) {
        console.log(s);
        return Number(s.replace(',','.'));
    }
    var map;
    window.map = map;
    window.map_marker = null;
        function initMap() {
            if (localStorage.getItem('ChosenName')!=null) {
                var x = toDot(cities[localStorage.getItem('ChosenName')].x);  
                var y = toDot(cities[localStorage.getItem('ChosenName')].y);  
            } else {
                var x = 0;
                var y = 0;
            }
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: x, lng: y},
                zoom: 8,
                zoomConrol: true
            });
        }
    </script>

        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi3fsw5CM1n-2hPQr0oSTlxoVER0kb_1g&callback=initMap">
        </script>
    <!--   
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2245.8740119711547!2d37.62614400394922!3d55.74331799521757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1482783316357" width="100%" height="746px" frameborder="0" style="border:0" allowfullscreen></iframe>
        -->
                </div>
                <div class="banner-right">
                    <img class="banner free" src="{{page.free_delivery_button.url}}">
                    <img class="banner non-free" src="{{page.no_delivery_button.url}}">
                        <br/>
                       <button class="button form-button" style="cursor:pointer;" onclick="showForm();"></button>
                        <br/>
                        <img src="{{page.image.url}}">
                </div>
            </div>
        </div>
