        <div id="page-docs">

                <div onclick="$('.docs-show').hide();"  class="docs-show bg">
                </div>

                <div class="docs-show" id="docs-show">
                    <img src=""/>
                </div>
            <div class="content">
                <script>
                    window.DOCS_PAGE_GAL_INDEX=0;
                    docsLeft = function() {
                        if (DOCS_PAGE_GAL_INDEX==0) {
                            return;
                        }
                        var items = $('#page-docs ul li');
                        DOCS_PAGE_GAL_INDEX--;
                        $(items[DOCS_PAGE_GAL_INDEX]).show();
                        $(items[DOCS_PAGE_GAL_INDEX+3]).hide();
                    }
                    docsRight = function() {
                        var items = $('#page-docs ul li');
                        if (DOCS_PAGE_GAL_INDEX==(items.length-3)) {
                            return;
                        }
                        $(items[DOCS_PAGE_GAL_INDEX]).hide();
                        $(items[DOCS_PAGE_GAL_INDEX+3]).show();
                        DOCS_PAGE_GAL_INDEX++;

                    }

                    function showDocs(src) {
                        $('#docs-show img').attr('src',src);
                        $('.docs-show').show();

                    }
                </script>

                <img src="{{ page.logo.url }}" class="logo" />
                <div onclick="docsRight();"  class="larrow">▶</div>
                <ul>
                    {% for item in page.items.all %}
                    <li
                                               {% if forloop.counter > 3 %}
                                                    style="display:none;"
                                               {% endif %}
                        >
                        <a  onclick="showDocs('{{item.image.url}}');"> 
                            <img alt="{{item.alt}}" src="{{item.image.url}}" />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div onclick="docsLeft();" class="rarrow">◀</div>
            </div>
        </div>
