        <div id="page-faq">
            <div class="logo">
                <!-- <img src="faq/faq-logo.png" /> -->
                <img src="{{page.logo.url}}" />
            </div>
            <div>
            <ul class="list">
                {% for item in page.items.all|dictsort:"order" %}
                <li class="">
                <h5>{{item.caption|safe}}
                    <!-- Как помогает? -->
                </h5>
                    <span class="answer">
                        {{item.text|safe}}
                        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum maximus augue, ut interdum turpis euismod ac. In et sem eget purus consequat volutpat. Curabitur in metus in nunc imperdiet suscipit. Nullam sed lectus pulvinar, consequat magna quis, consequat justo. Aenean quis eleifend massa, eu pharetra lorem. In ut leo nibh. Sed euismod quam sem, non vulputate dui vehicula et. -->
                    </span>
                </li>
                {% endfor %}
                <!-- <li> -->
                <!--     <h5>Как помогает?</h5> -->
                <!--     <span class="answer"> -->
                <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum maximus augue, ut interdum turpis euismod ac. In et sem eget purus consequat volutpat. Curabitur in metus in nunc imperdiet suscipit. Nullam sed lectus pulvinar, consequat magna quis, consequat justo. Aenean quis eleifend massa, eu pharetra lorem. In ut leo nibh. Sed euismod quam sem, non vulputate dui vehicula et. -->
                <!--     </span> -->
                <!-- </li> -->
            </ul>
<style>
#page-faq div a.arrow {
    border: 3px solid black;
    border-radius: 110px;
    color: black;
    font-size: 15px;
    padding: 6px 10px 10px;
    position: absolute;
    text-decoration:none;
}
#page-faq div a.down.arrow {
    left: 67%;
    top: 100px;
    display:none;
}
#page-faq div a.up.arrow {
    left: 67%;
    bottom: 360px;
}
#page-faq div a.arrow:hover {
    color:#47bae8;
    border-color:#47bae8;
}
#page-faq div ul.list li:nth-child(n+5) {
    display:none;
}
</style>
            <a 
                class="ask_prev arrow down"
                onclick="return ask_prev();"
                href="javascript:void(0);">▲</a>
            <a 
                class="ask_next arrow up"
                onclick="return ask_next();"
                href="javascript:void(0);">▼</a>
            </div>
            <div style="display:none;" class="side done">
                <h4    class="done"  >СПАСИБО, мы получили Ваш вопрос и ответим на него в ближайшее время!</h4>

                <br/>
                <button onclick="$('.side.active textarea').val(''); $('.side.active').show(); $(this).parent().hide();">
                    ЗАКРЫТЬ
                </button>
            </div>
            <div class="side active" style="x-display:none;">
                <h4> Не нашли ответ? </h4>
                <h5> Задайте вопрос! </h5>
                <div class="error" style="color:red; font-weight:bold;"> </div>
                <form class="ask_form" action="#ask_form" name="ask_form">
                    <input type=text class="name" name="name" placeholder="{{page.name_caption}}" />
                    <input type=text class="mail" name="mail" placeholder="{{page.mail_caption}}" />
                    <input type=text class="phone" name="phone" placeholder="{{page.phone_caption}}" />
                    <textarea class="question"  name="question" placeholder="{{page.question_caption}}"></textarea>
                    <img class="capcha" src="/capcha" />
                        <input class="capcha" name="capcha" type=text placeholder="АНТИ СПАМ КОД" />
                <button style="cursor:pointer;"  onclick="ask(); return false;">
                </button>
                </form>
            </div>
<style>
</style>

                <script>
                    ASK_FORM_COUNTER = 1;
                    ASK_FORM_COUNTER_MAX = $('#page-faq ul.list li').length;
                    function ask_next() {
                        ASK_FORM_COUNTER+=4;
                        $('.ask_prev').show();
                        $('#page-faq ul.list li').hide();
                        $('#page-faq ul.list li:nth-child(n+'+ASK_FORM_COUNTER+'):nth-child(-n+'+(ASK_FORM_COUNTER+3)+')').show();

                        $('#page-faq ul.list li').removeClass('active');
                        //$('#page-faq ul.list').prepend($('#page-faq ul.list li:last-child'));
                        $('#page-faq ul.list li:visible').first().addClass('active');

                        if (ASK_FORM_COUNTER+4>ASK_FORM_COUNTER_MAX ) {
                            $('.ask_next').hide();
                        }
                    }

                    function ask_prev() {
                        $('.ask_next').show();
                        ASK_FORM_COUNTER-=4;
                        $('#page-faq ul.list li').hide();
                        $('#page-faq ul.list li:nth-child(n+'+ASK_FORM_COUNTER+'):nth-child(-n+'+(ASK_FORM_COUNTER+3)+')').show();
                        $('#page-faq ul.list li').removeClass('active');
                        //$('#page-faq ul.list').append($('#page-faq ul.list li:first-child'));
                        $('#page-faq ul.list li:visible').first().addClass('active');

                        if (ASK_FORM_COUNTER-4<1) {
                            $('.ask_prev').hide();
                        }
                    }
                    function ask() {
                            
                            $('.ask_form input').removeClass('error');
                            $('.ask_form textarea').removeClass('error');
                            var name = $('.ask_form .name').val();
                            if (!name) $('.ask_form .name').addClass('error');
                            var capcha = $('.ask_form input.capcha').val();
                            if (!capcha) $('.ask_form input.capcha').addClass('error');
                            var mail = $('.ask_form .mail').val();
                            if (!mail) $('.ask_form .mail').addClass('error');
                            var phone = $('.ask_form .phone').val();
                            if (!phone) $('.ask_form .phone').addClass('error');
                            var question = $('.ask_form .question').val();
                            if (!question) $('.ask_form .question').addClass('error');
                            if (!capcha || !name || !mail || !phone || !question) {
                                return;
                            }
                        $.post('/ask/',{
                           name:name,
                            mail:mail,
                            capcha:capcha,
                            phone:phone,
                            question:question
                        }).done(function(d){
                            if (d=="OK") {
                                $('.ask_form .error').html('');
                            $('#page-faq .side').hide();
                            $('#page-faq .side.done').show();
                            } else {
                                $('.ask_form img.capcha').attr('src','/capcha?q='+(new Date()));
                                $('#page-faq .error').html(d);
                                console.log(d);
                            }
                        });
                    }
                            
                </script>
        </div>

