        <div id="page-faq">
            <div class="logo">
                <!-- <img src="faq/faq-logo.png" /> -->
                <img src="{{page.logo.url}}" />
            </div>
            <ul class="list">
                {% for item in page.items.all %}
                <li class="">
                <h5>{{item.caption|striptags}}
                    <!-- Как помогает? -->
                </h5>
                    <span class="answer">
                        {{item.text|safe}}
                        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum maximus augue, ut interdum turpis euismod ac. In et sem eget purus consequat volutpat. Curabitur in metus in nunc imperdiet suscipit. Nullam sed lectus pulvinar, consequat magna quis, consequat justo. Aenean quis eleifend massa, eu pharetra lorem. In ut leo nibh. Sed euismod quam sem, non vulputate dui vehicula et. -->
                    </span>
                </li>
                {% endfor %}
                <!-- <li> -->
                <!--     <h5>Как помогает?</h5> -->
                <!--     <span class="answer"> -->
                <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum maximus augue, ut interdum turpis euismod ac. In et sem eget purus consequat volutpat. Curabitur in metus in nunc imperdiet suscipit. Nullam sed lectus pulvinar, consequat magna quis, consequat justo. Aenean quis eleifend massa, eu pharetra lorem. In ut leo nibh. Sed euismod quam sem, non vulputate dui vehicula et. -->
                <!--     </span> -->
                <!-- </li> -->
            </ul>
            <div style="display:none;" class="side done">
                <h4    class="done"  >СПАСИБО, мы получили Ваш вопрос и ответим на него в ближайшее время!</h4>

                <br/>
                <button onclick="$(this).parent().hide();">
                    ЗАКРЫТЬ
                </button>
            </div>
            <div class="side active" style="x-display:none;">
                <h4> Не нашли ответ? </h4>
                <h5> Задайте вопрос! </h5>
                <div class="error" style="color:red; font-weight:bold;"> </div>
                <form class="ask_form" action="#ask_form" name="ask_form">
                    <input type=text class="name" name="name" placeholder="ВАШЕ ИМЯ" />
                    <input type=text class="mail" name="mail" placeholder="ЭЛЕКТРОННЫЙ АДРЕС" />
                    <input type=text class="phone" name="phone" placeholder="ТЕЛЕФОН" />
                    <textarea class="question"  name="question" placeholder="ВАШЕ ВОПРОС"></textarea>
                    <img class="capcha" src="/capcha" />
                        <input class="capcha" name="capcha" type=text placeholder="АНТИ СПАМ КОД" />
                <button style="cursor:pointer;"  onclick="ask(); return false;">
                </button>
                </form>
            </div>
<style>

</style>

                <script>
                    function ask() {
                            var name = $('.ask_form .name').val();
                            var capcha = $('.ask_form .capcha').val();
                            var mail = $('.ask_form .mail').val();
                            var phone = $('.ask_form .name').val();
                            var question = $('.ask_form .question').val();
                            if (!capcha || !name || !mail || !phone || !question) {
                                return;
                            }
                        $.post('/ask/',{
                           name:name,
                            mail:mail,
                            capcha:capcha,
                            phone:phone,
                            question:question
                        }).done(function(d){
                            if (d=="OK") {
                                $('.ask_form .error').html('');
                            $('#page-faq .side').hide();
                            $('#page-faq .side.done').show();
                            } else {
                                $('.ask_form img.capcha').attr('src','/capcha?q='+(new Date()));
                                $('#page-faq .error').html(d);
                            }
                        });
                    }
                            
                </script>
        </div>

