        <div id="page-green">
            <div class="triangle-up"> </div>
            <div class="content">
                <div class="text-info">
                    {{page.title|striptags}}
                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas mi id iaculis interdum. Nam lacinia dui massa, quis viverra ante dictum ac. Ut commodo justo eget mi gravida, eu malesuada nisi blandit. -->
                </div>
                <img class="logo" src="{{page.logo.url}}" />
            <span class="starts"> </span>
            <span class="arrow-left">
                <img src="static/green/arrow-left.png" />
            </span>

            <ul id="">
              {% for item in page.items.all %}
                <li>
                    <img alt="{{item.alt}}"  src="{{ item.image.url }}" />
                    <span>
                        {{item.text|safe}}
                    </span>
                </li>
              {% endfor %}
            </uL>

            <span class="arrow-right">
				<img src="static/green/arrow-right.png" />
			</span>

            <script type="text/javascript">
                var pageGreenLimit = 3;
                var pageGreenGalleryIndex = 0;
                var pageGreenGalleryIndexMax = $('#page-green ul li').length-1;
                
                function FitGreenGallery() {
		    var index = pageGreenGalleryIndex+1;
                    $('#page-green ul li').hide();
                    if (pageGreenGalleryIndex == 0) {
                        $('#page-green ul li:nth-child(-n+3)').show();
                    } else if (pageGreenGalleryIndex == pageGreenGalleryIndexMax) {
                        $('#page-green ul li:nth-last-child(-n+3)').show();
                    } else {
                        $('#page-green ul li:nth-child('+ (index-1) +')').show();
                        $('#page-green ul li:nth-child('+index+')').show();
                        $('#page-green ul li:nth-child('+(index+1) +')').show();
                    }
                }


                $('#page-green ul li').first().addClass('active');
                $('#page-green ul li').hide();
                $('#page-green ul li:nth-child(-n+3)').show();
                $('#page-green .arrow-left').click(function() {
                    if (pageGreenGalleryIndex==0) {
                       pageGreenGalleryIndex = pageGreenGalleryIndexMax+1; 
                    }
                    $('#page-green ul li').removeClass('active');
                    $($('#page-green ul li')[--pageGreenGalleryIndex]).addClass('active');
		    FitGreenGallery();
                    
                });
                $('#page-green .arrow-right').click(function() {
                    if (pageGreenGalleryIndex==pageGreenGalleryIndexMax) {
                        pageGreenGalleryIndex = -1;
                    }
                    $('#page-green ul li').removeClass('active');
                    $($('#page-green ul li')[++pageGreenGalleryIndex]).addClass('active');
		    FitGreenGallery();
		});

                $('#page-green ul li').click(function() {
                    //$('#page-green ul li').removeClass('active');
                    //$(this).addClass('active');
                    //FitGreenGallery();
		});
            </script>
            <div class="delivery">
               <!-- <img src="green/buy-now.png" /> -->
               <img class="delivery free" src="{{page.free_delivery_button.url}}" />
               <img class="delivery non-free"  src="{{page.no_delivery_button.url}}" />

               <br />
               <br />
               <!--
                   <img  style="cursor:pointer;" onclick="showForm();" src="static/green/button.png" />
               -->
               <button class="button form-button" style="cursor:pointer;" onclick="showForm();"></button>
            </div>
            </div>
            <div class="triangle-down"></div>
        </div>
