 <style>
#order-form-mobile input.has-danger {
  border: 1px solid rosybrown;
width: 100%;
border-radius: 5px;
padding: 5px;
}
 #order-form-mobile .success {
   display: none;
 }
 #order-form-mobile {
   overflow-y: auto;
 }
 #order-form-mobile {
   background-color: #fff;
 }
 #order-form-mobile {
   border-top:5px solid black;
   padding-top:15px;
 }

 #order-form-mobile hr {
   border-top: 1px solid gray;
 }

 #order-form-mobile .small-padding {
   margin-top:15px;
 }


 #order-form-mobile button.wide {
   width:100%;
 }

 #order-form-mobile .row img {
   max-width: 100%;
 }

 #order-form-mobile .header {
   text-transform: uppercase;
 }



 #order-form-mobile .plus,
 #order-form-mobile .minus{
  background-color: #d0edfc;
  width: 23px;
  padding: 0;
 }

 #order-form-mobile input.submit {
   width: 100%;
   border-radius: 0px;
   background-color: #d0edfc;
   text-transform: uppercase;
   color:black;
 }

 #order-form-mobile > div {
   width: 100%;
 }

 #order-form-mobile .top-container .right {
   text-align: right;
 }
 </style>


  <div id="order-form-mobile" class="modal x-fade">
    <div class="x-modal-dialog">
    <div class="x-modal-content">
    <div class="modal-body">
    <div class="container-fluid">
    <div class="row top-container">
       <div class="col-10">
              <img src="static/./logo.png" id="logo"></a>
       </div>
       <div class="col-2 right">
              <button >
                <span class="oi oi-x" title="icon name" aria-hidden="true"></span>
              </button>
       </div>
       <br />
       <br />
     </div>
       <br />

    <form method="post" action="#">
      <div class="row top-container">
        <label class="col-10" >Регион: Москва</label>
       <div class="col-2 right">
        <button data-toggle="modal" data-target="#choose_city_modal">
            <span class="oi oi-chevron-right" title="icon name" aria-hidden="true"          ></span>
        </button>
      </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label >Жидкая аэрозольная повязка<br/>АКТОВИДЕРМ &copy; <label>
        </div>
      </div>
      <!--
        $('#order-done .quantity').html(this.count);
        $('#order-done .cost span.q').html(this.cost);
      -->
      <div class="x-form-group inner-order-form">
        <div class="row">
          <div class='col-1 '>
            <input type="button" class="minus btn" value="-"/>
          </div>
          <label class="col-3 center"><span class="quantity">1</span>&nbsp;уп.</label>
          <div  class='col-1 no-padding'>
            <input type="button" class="plus btn" value="+"/>
          </div>
          <div  class='col-1'>
          </div>
          <div class="col-5 cost"><span class="q">590</span> руб</div>
        </div>
        <div class="row small-padding">
          <div class="col-12 delivery">Доставка: Бесплатно</div>
        </div>
        <div class="row small-padding ">

          <div  class='col-12'>
            <div class="total cost">Итого: <span class="q">590</span></div>
          </div>
        </div>
        <div class="row small-padding ">
          <div  class='col-12'>
          <div class="i">Укажите информацию для связи и расчета доставки</div>
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="name"  placeholder="Имя и фамилия*">
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="phone" placeholder="Номер телефона*">
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="email" placeholder="Электронная почта">
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="city"  placeholder="Москва*">
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="street" placeholder="Улица*">
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="house" placeholder="Дом*">
        </div>
        </div>
        <div class="row small-padding ">
          <hr />
          <div  class='col-12'>
          <input type="text" class="" name="flat" placeholder="Квартира">
        </div>
        </div>
        <div class="row small-padding ">
          <div  class='col-12'>
            * - поля обязательные для заполнения
        </div>
        </div>
        <div class="row small-padding">
          <div  class='col-12'>
          <input type="button" class="btn btn-primary wide submit" value="Отправить" />
        </div >
        </div >
      </div>
    </form>
      </div>
    <div class="success col-12 small-padding">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header">Спасибо!</div>
               <p class="small-padding">
                 Ваша заявка оформлена. <br/>
                 Ожидайте звонка менеджера в ближайшее время!
                 <br/>
               </p>

            </div>
          </div>

          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <img class="logo" src="{{page.logo.url}}" />
            </div>
            <div class="col-2">
            </div>
          </div>
      </div>

    </div>
    </div>
  </div>
  </div>
  </div>
  </div>
                <script>
                    window.order_form_mobile = {
                        count:1,
                        base_cost:580,
                        cost:580,
                        plus:function() {
                            this.count++;
                            this.update();
                        },
                        minus:function() {
                            this.count--;
                            this.update();
                        },
                        init:function() {
                            this.city='';
                            this.street='';
                            this.house='';
                            this.flat='';
                            this.time='';
                            this.count='1';
                            this.total='0';
                            this.name='';
                            this.phone='';
                            this.email='';
                            this.count=1;
                            this.date='';
                            //$('#order-done input:not(.city)').val('');
                            //$('#order-done textarea:not(.city)').html('');
                            this.update();
                        },
                        post: function() {
                          $.post('/order/',{
                					    city:   this.city,
                					    street: this.street,
                					    house:  this.house,
                					    flat:   this.flat,
                					    time:   this.time,
                					    phone:  this.phone,
                					    time:   this.time,
                					    name:   this.name,
                					    phone:  this.phone,
                					    email:  this.email,
                					    count:  this.count,
                					    total:  this.total
                				    }).fail(function(d) {
                        					$('#order-done .error').show();
                        					$.notify("При выполнении запроса произошла ошибка","error");
                        		}).done(function(d){
                        					$.notify("Запрос успешно отправлен","success");
                                  window.order_form_mobile.init();
                                  $("#order-form-mobile .success").show();
                                  $("#order-form-mobile form").hide();
                    				});
                        },
                        update: function(){
                            if (!this.count) {
                                this.count=1;
                            }
                            //this.count = $('.step3 .count').val();
                            this.cost = window.BASE_COST * this.count;
                            $('#order-form-mobile .quantity').html(this.count);
                            $('#order-form-mobile .cost span.q').html(this.cost);
                        },
                        submit: function() {
                          var prefix = "#order-form-mobile input[name="
                          var postfix= "]";
                          var error  = false;
                          var keys = ['city','street','house','flat','name','phone','email'];
                          for(key in keys) {
                            var _ = keys[key];
                            $(prefix + _ + postfix).removeClass("has-danger");
                            this[_]=$(prefix + _ + postfix).val();
                            console.log(this[_]);
                            if (this[_]=="") {
                              $(prefix + _ + postfix).addClass("has-danger");
                              error = true;
                              console.log(_);
                            }
                          }
                          console.log(error);
                          return;
                          if (!error) {
                            this.post();
                          }
                        }
                      };

                      window.order_form_mobile.init();
                      $('#order-form-mobile .plus').click(()=>window.order_form_mobile.plus());
                      $('#order-form-mobile .minus').click(()=>window.order_form_mobile.minus());
                      $('#order-form-mobile .submit').click(()=>window.order_form_mobile.submit());

                      </script>
