        <div id="order-done">
                <div>
                    <img src="akto-box-photo.png" />
                    <div class="holder">
                        <div class="left">
                            <span class="title">
                            Жидкая аэрозольная повязка актовитдерм
                            </span>
                            <br/>
                            <span class="cost">
                                580P
                            </span>
                            <br/>
                            <span class="count">
                                <a class="minus">
                                    -
                                </a>   
                                <span>
                                    <span>1</span> Упаковка
                                </span>
                                <a class="plus">
                                    +
                                </a>
                            </span>
                            <br/>
                            <span class="total">
                                Итого: 550 руб
                            </span>
                            <span class="info">
                                Стоимость доставки расчитывается
                            </span>
                        </div>
                        <div class="right">
                            <h4>
                                Спасибо, ваша заявка принята
                            </h4>
                            <p>
                                Спасибо, ваша заявка принята
                            </p>
                            <div class="form">
                                <div class="date">
                                    <a href="">
                                        Сегодня
                                    </a>
                                    <a href="">
                                        Завтра
                                    </a>
                                    <a href="">
                                        Послезавтра
                                    </a>
                                </div>
                            <hr />
                            <input  type="text" placeholder="Укажите время" />
                            <br/>
                            <a>Назад</a>
                            <a>Подтвердить</a>
                            </div>

                        </div>
                    </div>
                </div>
        </div>