        <div id="page-why">
        <a style="position:relative; left:auto; top:-90px; display:block; height:1px; with:1px;" name="why-acto"/></a>
            <img class="logo" src="{{page.logo.url}}" />
            <ul>
                {% for item in page.items.all reversed %}
                <li>

                    <div>
                        <img alt="{{item.alt}}" src="{{item.image.url}}" />
                    <div class="w196">
                        {{item.text|safe}}
                    </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
