
<!---Alter code--------------------------------->

<style type="text/css">
  #page-yellow-mobile .plainText  {
    font-family:DejaVu Sans Condensed;
    font-size:17px;
  }
</style>

<style type="text/css">
  #page-yellow-mobile .highlightedText  {
    font-family:DejaVu Sans Condensed;
    font-size:17px;
    color:#FFFFFF;
    background: #fa6475;
    text-indent:7px;
    max-width: 60%;
  }
</style>

<style type="text/css">
  #page-yellow-mobile .highlightedTextBold  {
    font-family:DejaVu Sans Condensed;
    font-size:17px;
    color:#FFFFFF;
    background: #fa6475;
    font-weight:bold;
    text-indent:7px;
    max-width: 75%;
  }
</style>

<style type="text/css">
  #page-yellow-mobile #rewievsContainer  {
    min-height:250px;
  }
  #page-yellow-mobile .yellow {
    background-color: yellow;
  }

  #page-yellow-mobile .white {
    background-color: white;
  }

  #page-yellow-mobile .logo img{
      max-width: 100%;
  }
  #carouselClientsRewievs {

  }


            div#page-yellow-mobile .triangle-down {
                width: 0;
                height: 0;
                border-left: 1600px solid transparent;
                border-top: 64px solid #ffa730;
            }
            div#page-yellow-mobile .arrow-holder {
                width:100%;
                overflow:hidden;

            }
            div#page-yellow-mobile .triangle-up {
                width: 0;
                height: 0;
                border-right: 1600px solid transparent;
                border-bottom: 64px solid #ffef45;
            }

            div#page-yellow-mobile .bg-bottom img {
                margin-top: -30px;
            }
            div#page-yellow-mobile .bg-bottom img {
              width:100%;
            }

            div#page-yellow-mobile .bg-top img {
              width:100%;
            }

            div#page-yellow-mobile {
              position: relative;
              margin-top: -65px;
              z-index: 10;
            }

</style>
<div id="page-yellow-mobile">
            <div class="arrow-holder">
              <div class="triangle-up"> </div>
            </div>
    <div class="container yellow">
      <div class="row">
        <div class="col-8 logo">
          <img src="{{page.logo.url}}" />
        </div>
      </div>
    </div>


        <div class="bg-top yellow">
          <img src="static/mobile/yellow/bg-top.png" />
        </div>
    <div class="container white">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10" id=rewievsContainer>

      <div id="carouselClientsRewievs" class="carousel slide" data-ride="carousel" interval: 400>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="plainText">Это вообще не нормально, что у вас такая хорошая доставка!</div><br/>
                <div class="highlightedTextBold">Ольга Волнухина</div>
                <div class="highlightedText">г. Санкт-Петербург</div>
              </div>
              <div class="carousel-item">
                <div class="plainText">Курьер хотел отжать у меня сотку, но я его присмирил. А так сервис хороший, буду заказывать еще.</div><br/>
                <div class="highlightedTextBold">Андрей Кудинов</div>
                <div class="highlightedText">г. Москва</div>
              </div>
              <div class="carousel-item">
                <div class="plainText">Привезли прямо домой, я так рада! Не пришлось даже куда-то ходить. Мои нью-бэлансы довольны!</div><br/>
                <div class="highlightedTextBold">Ольга Смирнова</div>
                <div class="highlightedText">г. Лазаревское</div>
              </div>
              <div class="carousel-item">
                <div class="plainText">Заказывал Актовидерм с доставкой, всем остался доволен. Сам спрей еще не пробовал, но на полке смотрится огненно.</div><br/>
                <div class="highlightedTextBold">Александр Близнюк</div>
                <div class="highlightedText">г. Москва</div>
              </div>
          </div>

        <div class="col-1">
        </div>
      </div>


    </div>
        <div class="bg-bottom ">
          <img src="static/mobile/yellow/bg-bottom.png" />
        </div>

<!---end of Alter code--------------------------------->

  </div>
</div>
</div>

<!--


        <div id="page-yellow">

            <div class="arrow-holder">
            <div class="triangle-up"> </div>
            </div>
            <div class="content">
                <div class="text-info">
                    {{ page.title }}
                </div>
                <img alt="{{page.title}}" class="logo" src="{{page.logo.url}}" />
                <div class="items">
                <img src="/static/yellow/top.png" style="width:100%;"/>
                    <ul
                        style=""
                    >
                    {% for item in page.items.all %}
                        <li>
                            <div class="list-item">
                                <span>
                                    {{item.text|safe}}
                                </span>
                                <div>
                                <b>
                                    {{item.name}}
                                </b>
                                <label>
                                    {{item.subtext}}
                                </label>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <img src="static/yellow/bottom.png" style="width:100%;"/>
                    </div>
            </div>
            <div class="clear"> </div>
        </div>
      -->
