<style>
    #choose_city_modal .bg{
      position: fixed;
      left:0; top:0; right:0; bottom:0;
      z-index: 0;
    }
    #choose_city_modal {
      background-color: #fff;
border-top: 10px solid black;
padding-top: 10px;
z-index: 1080;

    }
    #choose_city_modal     .typeahead__cancel-button {
      display: none;
    }

    #choose_city_modal .pink {
        color:#ef6278;
    }

    #choose_city_modal hr.pink {
      border-top:5px solid #ef6278;
    }

    #choose_city_modal .modal-dialog {
      pointer-events: auto;
    }
    #choose_city_modal .city-list hr {
      border-bottom:1px solid gray;
    }

    #choose_city_modal .city-list a:not(.active) {
      color:#242424;
  }

</style>


      <!--
        {% for c in cities %}
          {{c.name}}
        {% endfor %}
      -->

<div id="choose_city_modal" class="modal fade">
  <div class="choose-region modal-dialog">
    <div class="container">
      <div class="row">
        <div class="col-1">
            <button data-dismiss="modal" data-target="#choose_city_modal">
                <span class="oi oi-chevron-left" title="icon name" aria-hidden="true"          ></span>
            </button>
        </div>
        <div class="col-9">
          Выбор региона (всего {{cities|length}})
        </div>
        <div class="col-1">
          <button data-dismiss="modal" data-target="#choose_city_modal">
            <span class="pink oi oi-x" x-not-onclick="$('.typeahead__cancel-button').click();" title="icon name" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
    <div>
        <hr class="pink"/>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-12">
          <form action="#">
                <div class="typeahead__container">
                    <div class="typeahead__field">

                        <span class="typeahead__query">
                            <input class="js-typeahead-top-cities"
				   onkeydown="sortCityList($(this).val())"
                                   name="q"
                                   type="search"
                                   autofocus
                                   autocomplete="off">
                        </span>
                    </div>
                </div>
            </form>
          </div>

        </div>
      <div class="row city-list">
        <p>
        <br/>
      </p>


      <!--
        {% for c in cities %}
          {{c.name}}
        {% endfor %}
      -->
      <div class="inner-city-list">
    {% for city in cities %}
    <div class="col-12 city-list-modal" >
        <a data-name="{{city.name}}" ontouchstart="choose_city('{{city.name}}');">{{ city.name }}</a>
      <hr />
    </div>
    {% endfor %}
    </div>
    </div>
  </div>
  </div>



  <script>
	sortCityList = function(query) {
                  var chosen = window.lc.getItem('ChosenName');
                  var result = prepareRegions(query);
                  var template = "";
                  for(var i in result) {
                    var city = result[i];
                    template+='<div class="col-12 city-list-modal" >';
                    template+='<a class="'+(city.name == chosen ? 'active' :'')+'"  data-name="'+city.name+'" ontouchstart="choose_city(\''+city.name+'\');">'+city.name+'</a>';
                    template+='<hr />';
                    template+='</div>';
                  }
                  $('.city-list').html(template);
	}

     highlightBlue = function() {
        var name = window.lc.getItem('ChosenName');
        $('.city-list a.active').removeClass('active');
        $('.city-list a[data-name="'+name+'"]').addClass('active');
      }
     onCityChosen.push(highlightBlue);

  </script>
