<style>
  #page-docs-mobile img {
    max-width: 100%;
  }

  #page-docs-mobile .dots-bg {
background-image: url(static/mobile/docs/bg.png);
background-size: 100% 100%;
padding-top:  0.5em;
padding-bottom: 0.5em;
  }

</style>
<script>
  docsCarouselActivate = function(i) {
    $('.docs-carousel-item').removeClass('active');
    $('.docs-carousel-item-'+i).addClass('active');
  }


 </script>


<div id="page-docs-mobile">
    <br/>
    <br/>
  <div class="container">
    <div class="row">
      <div class="col-7">
                            <img  src="{{page.logo.url}}" />
      </div>
    </div>
    <br/>
    <div class="row">
                    {% for item in page.items.all %}
                                               {% if forloop.counter < 4 %}
                    <div class="col-4 dots-bg">
                            <a data-toggle="modal" data-target="#modal-docs" onclick="docsCarouselActivate({{forloop.counter0}});">
                              <img alt="{{item.alt}}" src="{{item.image.url}}"  style="
                                border:1.5px solid #2c4f8a;
                              "/>
                            </a>

                    </div>
                                               {% endif %}
                    {% endfor %}
    </div>
    </div>
    <div class="modal fade" style="z-index:1070;" id="modal-docs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<nav class="navbar fixed-top x-navbar-expand-lg navbar-light bg-light" style="z-index:1070;">
  <hr class="pink-border" />
  <a class="navbar-brand" href="#" onclick="$('.modal').modal('hide');">
                    <img src="static/./logo.png" id="logo"></a>
  </a>

  <button class="navbar-toggler" onclick="$('.modal').modal('hide');">
    <span class="close oi oi-x" title="icon name" ></span>
  </button>
</nav>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="clear:both;">
          <div id="docs-carrousel" class="ignore-fit carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              {% for item in page.items.all %}
              <div class="carousel-item docs-carousel-item docs-carousel-item-{{forloop.counter0}} {% if forloop.counter0 == 0 %} active {% endif %}" >
                <div>
                    <img class="doc-fit" alt="{{item.alt}}" src="{{item.image.url}}" />
                </div>
              </div>
              {% endfor %}

            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    <br/>
    <br/>
    <script type="text/javascript">
    $(document).ready(function(){
        var first = $('.doc-fit').first();

        $('doc-fit').width = first.width;
        $('doc-fit').height = first.height;
    });
    </script>
<!--

        <div id="page-docs"  >

                <div class="docs-show bg">
                </div>

                <div class="docs-show" id="docs-show" onclick="$('.docs-show').hide();">
                    <img src=""/>
                </div>
            <div class="content">
                <script>
                    window.DOCS_PAGE_GAL_INDEX=0;
                    docsLeft = function() {
                        if (DOCS_PAGE_GAL_INDEX==0) {
                            return;
                        }
                        var items = $('#page-docs ul li');
                        DOCS_PAGE_GAL_INDEX--;
                        $(items[DOCS_PAGE_GAL_INDEX]).show();
                        $(items[DOCS_PAGE_GAL_INDEX+3]).hide();
                    }
                    docsRight = function() {
                        var items = $('#page-docs ul li');
                        if (DOCS_PAGE_GAL_INDEX==(items.length-3)) {
                            return;
                        }
                        $(items[DOCS_PAGE_GAL_INDEX]).hide();
                        $(items[DOCS_PAGE_GAL_INDEX+3]).show();
                        DOCS_PAGE_GAL_INDEX++;

                    }

                    function showDocs(src) {
                        $('#docs-show img').attr('src',src);
                        $('.docs-show').show();

                    }
                </script>

                <img src="{{ page.logo.url }}" class="logo" />
                <div onclick="docsRight();"  class="larrow">▶</div>
                <ul>
                    {% for item in page.items.all %}
                    <li
                                               {% if forloop.counter > 3 %}
                                                    style="display:none;"
                                               {% endif %}
                        >
                        <a  onclick="showDocs('{{item.image.url}}');">
                            <img alt="{{item.alt}}" src="{{item.image.url}}" />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div onclick="docsLeft();" class="rarrow">◀</div>
            </div>
        </div>
      -->
