<style>
  #page-mint-mobile img {
      max-width: 100%;
  }

  #page-mint-mobile  .container {
                background-color:#00cabe;
              }

            div#page-mint-mobile .triangle-down {
                width: 0;
                height: 0;
                border-left: 1600px solid transparent;
                border-top: 64px solid #00cabe;
            }

            div#page-mint-mobile .triangle-up {
                width: 0;
                height: 0;
                border-right: 1600px solid transparent;
                border-bottom: 64px solid #00cabe;
            }

</style>

<div id="page-mint-mobile">
  <div class="triangle-up">
  </div>
  <div class="container">
    <div class="row">
        <div class="col-8"
          style="
            margin-top:-48px;
            margin-bottom:-20px;
            width:100%;
            z-index:2;
            "
        >
                <img
style="width:100%;"
                alt="{{page.caption|striptags}}" class="logo" src="{{page.logo.url}}" />
        </div>
    </div>
    <div class="row">
      <div class="col-12">
          <center>
            <img class="hands" src="static/mobile/how/bg.png" />
          </center>
      </div>

      <div class="col-12">
        <br/>
                    {{ page.caption|safe }}
      </div>

    </div>
  </div>

  <div class="triangle-down">
  </div>
<div class="container"
style="
    background-color: transparent;
    margin-top: -90px;
    padding-bottom: 30px;
}
"
>
      <div class="col-12">
          <center>
            <img
            style="width:100%;"
            class="info" src="static/mobile/how/scheme.png" />
          </center>
      </div>
    </div>
</div>
<!--

        <div id="page-mint">
            <div class="triangle-up"> </div>
            <div class="content">
                <div class="text-info">
                    {{ page.caption|safe }}
                </div>
                <img alt="{{page.caption|striptags}}" class="logo" src="{{page.logo.url}}" />
                <img class="hands" src="{{page.left_image.url}}" />
            </div>
            <div class="triangle-down"> </div>
            <img class="info" src="{{page.right_image.url}}" />
        </div>
      -->
