<style>

            div#delivery-top .triangle-down {
                border-left: 1600px solid #fff;
                border-top: 94px solid
#ffd245;
                z-index: 2;
            }

  #delivery-top .container .row img {
    max-width: 100%;
  }


  #delivery-top img.logo {
        margin-top: -23px;
    margin-left: -8px;
    x-width: 164px;
    width: 100%;
  }

  #delivery-top > .container {
  }

  #delivery-top {
    background: url('static/mobile/top/yellow_bg.png');
    background-repeat:no-repeat;
    background-size: 100%;
    padding-bottom: 0px;
  }
#delivery-top .title span {
  background-color: #ffa730;
padding-left: 20px;
}
  #delivery-top .title {

    /*
    text-align: right;
text-transform: uppercase;
color: white;
font-weight: bolder;
font-size: 35px;
padding-top: 16px;
line-height: 36px;
transform: scale(0.8,1);
letter-spacing: 1px;
margin-left: 26px;
*/

text-align: right;
text-transform: uppercase;
color: white;
font-weight: bolder;
font-size: 30px;
padding-top: 10px;
line-height: 28px;
transform: scale(0.8,1);
letter-spacing: 5px;
margin-left: 26px;



  }


  #delivery-top .bubble{
    position: relative;
    left:0px; top:0px;
    height: 0px;
    z-index: 9;
    top:151px;


  }

  #delivery-top .bubble input[type=button],
  #delivery-top .bubble button {
      text-transform: uppercase;
      width: 100%;
      background-color: #babcbe;
      color: #fff;
      height: 33px;
      border-radius: 15px;
      text-align: center;
      padding: 5px 0px;
      font-weight: bold;
  }



  #delivery-top .bubble input[type=button]:hover,
  #delivery-top .bubble button:hover{
    background-color: orange;
  }

  #delivery-top .bubble .bubble-holder {
    background: url('static/mobile/top/bubble.png');
    background-size: 85% 100%;
    position: relative;
    height: 191px;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center center;


  }

  #delivery-top .bubble .bubble-holder .q {
height: 40px;
margin-top: 54px;
text-align: center;
font-size: 21px;
padding: 0px 50px;
font-weight: bold;
margin-bottom: 20px;
}
  #delivery-top .bubble-holder
  input[type=button].active,
  #delivery-top .bubble-holder button {
    text-align: center;
    font-size: 12px;
  }

  #city_confirmation  {
    display: none;
  }


</style>



<div id="delivery-top">
  <div class="bubble container"
style="
border-bottom:15px solid #ffd245;
background-color:#ffd245;
"
  >
    <div class="row bubble-holder" id="city_confirmation">
        <div class="col-12 q"   >
        Ваш регион <span class="city_name"></span>?
        <br/>
        </div>
        <div class="col-1">
        </div>

        <div class="col-5">
          <button class="btn" data-toggle="collapse" data-target="#city_confirmation" aria-controls="collapseExample">
            Да
          </button>
        </div>
        <div class="col-5">
          <button class="btn" data-toggle="modal" data-target="#choose_city_modal">
            Нет, выбрать
          </button>
        </div>

        <div class="col-1">
        </div>
        </div>
  </div>


  <div class="container">
    <div class="row">
        <div class="col-12 title">
          <span>
                Жидкая
              </span>
                <br />
          <span>
                Аэрозольная
              </span>
                </br>
          <span>
                повязка
              </span>
                <!--
                {{page.title.mobile|safe}}
                -->
        </div>
      </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <img class="logo" src="{{page.logo.url}}" />
        </div>
        <div class="col-1">
        </div>
      </div>
    <div class="row" class="delivery">
        <div class="col-12">
          <br/>
        </div>
      </div>
      <div class="delivery free">
      <div class="row">
        <div class="col-6">
            <img class="" src="static/mobile/top/590.png" />
        </div>
        <div class="col-6 delivery free" style="padding:0;">
                <a class="hovering" data-toggle="modal" data-target="#order-form-mobile">
                  <img class="" src="static/mobile/top/offer_pink.png" />
                  <img class="hover" src="static/mobile/top/offer_gray.png" />
                </a>
                <br/>
                Доставка бесплатно
                <br/>
                <a href="#find-shop" class="hovering">
                  <img class="" src="static/mobile/top/buy_green.png" />
                  <img class="hover" src="static/mobile/top/buy_gray.png" />
                </a>
        </div>
      </div>
      </div>


      <div class="delivery non-free"  style="display:none;">
      <div class="row delivery ">
        <div class="col-6">
            <img class="" src="static/mobile/top/590.png" />
        </div>
        <div class="col-6" style="padding:0;">
                <a class="hovering" data-toggle="modal" data-target="#order-form-mobile">
                  <img class="" src="static/mobile/top/offer_pink.png" />
                  <img class="hover" src="static/mobile/top/offer_gray.png" />
                </a>
                <br/>
                Доставка оплачивается отдельно
                <br/>
                <a href="#find-shop" class="hovering">
                  <img class="" src="static/mobile/top/buy_green.png" />
                  <img class="hover" src="static/mobile/top/buy_gray.png" />
                </a>
        </div>
      </div>
      </div>
    </div>
    <div class="triangle-down">
    </div>
  </div>


<!---
<div id="delivery-top">
    <div class="left"
        style="background-image:url('{{page.image.url}}');">
        <div class="text-info">
            <img src="{{page.logo.url}}" />
            <span>
                {{page.title|safe}}
            </span>
        </div>
    </div>
    <div class="right">
        <img class="delivery free" src="{{page.free_delivery_button.url}}" />
        <img class="delivery non-free" src="{{page.banner.url}}" />
        <br/>
        <button class="button form-button" style="cursor:pointer;" onclick="showForm(); {{settings.yandex_counter_id}}.reachGoal('order');"></button>
    </div>
</div>
-->
<div class="clear"></div>
